/*----------------------------------------
  Google Fonts
----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
/*
  font-family: 'Roboto', sans-serif;

*/

/*----------------------------------------
  Default Styles
----------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper-md {
    width: 60%;
    margin: 15% auto;
}

.wrapper-lg {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 5rem;
}

section>div>h1 {
    color: #dddddd;
}

h2 {
    font-size: 4rem;
}

p {
    font-size: 1.5rem;
}

/*----------------------------------------
  Header and Hero Section
----------------------------------------*/

header {
    padding: 20px 0 0 20px;
}

header>img {
    position: fixed;
    width: 55px;
}

header span {
    margin-left: 80px;
    display: block;
}

header span:nth-of-type(1) {
    font-size: 2rem;
    font-weight: 600;
}

section:nth-of-type(1)>article {
    width: 51%;
    padding: 10% 0 10% 10%;
}

section:nth-of-type(1)>article>h1 {
    margin-bottom: 10px;
}

/*
section > article > p {
    font-size: 1.5rem;
}
*/

section:nth-of-type(1)>article>p::after {
    background-image: url('../img/rocket.png');
    background-size: 29px 25px;
    display: inline-block;
    width: 29px;
    height: 25px;
    content: "";
}

section:nth-of-type(1) {
    background: url('../img/ilustracion_people.png') top right/contain no-repeat, url('../img/ilustracion1.png') top right/contain no-repeat;
}

/*----------------------------------------
  Scroll to see more
----------------------------------------*/

.see-more {
    text-transform: uppercase;
    margin-left: 10%;
    font-weight: 600;
    color: #ff3571;
}

section:nth-of-type(2) {
    margin-top: 10%;
    height: 100vh;
    background: url('../img/images.jpg') top right/contain no-repeat;
}

/*----------------------------------------
  Start Idea Section
----------------------------------------*/

section:nth-of-type(3) {
    width: 80%;
    margin: 0 auto;
}

section:nth-of-type(3)>div {
    display: flex;
    align-items: flex-start;
}

section:nth-of-type(3)>div>h2:nth-of-type(1) {
    margin-top: 0;
    width: 35%;
    margin-right: 5%;
}

section:nth-of-type(3) p {
    margin-top: 0;
    width: 50%;
}

section:nth-of-type(3)>h2 {
    width: 70%;
    margin: 15% 15%;
}

section:nth-of-type(3) span::after {
    margin-left: -10px;
    background-image: url('../img/idea.png');
    background-size: 60px 60px;
    display: inline-block;
    width: 60px;
    height: 60px;
    content: "";
}

/*----------------------------------------
  Start Info Boxes Section
----------------------------------------*/

section:nth-of-type(4) {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section:nth-of-type(4) div {
    width: 40%;
    margin-top: 20px;
}

section:nth-of-type(4)>div p:nth-of-type(2) {
    margin-left: 60px;
}

/*---------- Box 01 ----------*/

section:nth-of-type(4)>div:nth-of-type(1)>p:nth-of-type(1)::before {
    margin-right: 20px;
    background-image: url('../img/title02.svg');
    background-size: 40px 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    content: "";
}

/*---------- Box 02 ----------*/

section:nth-of-type(4)>div:nth-of-type(2)>p:nth-of-type(1)::before {
    margin-right: 20px;
    background-image: url('../img/title04.svg');
    background-size: 40px 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    content: "";
}

/*---------- Box 03 ----------*/

section:nth-of-type(4)>div:nth-of-type(3)>p:nth-of-type(1)::before {
    margin-right: 20px;
    background-image: url('../img/title01.svg');
    background-size: 40px 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    content: "";
}

/*---------- Box 04 ----------*/

section:nth-of-type(4)>div:nth-of-type(4)>p:nth-of-type(1)::before {
    margin-right: 20px;
    background-image: url('../img/title03.svg');
    background-size: 40px 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    content: "";
}

/*----------------------------------------
  Start Are you ready Section
----------------------------------------*/

section:nth-of-type(5) {
    text-align: center;
}

/*----------------------------------------
  Start 4 Steps Illustrations Section
----------------------------------------*/

/*---------- Step01 ----------*/

section:nth-of-type(6) {
    margin-bottom: 15%;
    display: flex;
}

section:nth-of-type(6) div {
    margin-left: 5%;
}

section:nth-of-type(6)>img {
    width: 50%;
}

section:nth-of-type(6)>div>img {
    width: 60px;
}

/*---------- Step02 ----------*/

section:nth-of-type(7) {
    margin-bottom: 15%;
    display: flex;
    flex-direction: row-reverse;
}

section:nth-of-type(7) div {
    margin-left: 5%;
}

section:nth-of-type(7)>img {
    width: 50%;
}

section:nth-of-type(7)>div>img {
    width: 60px;
}

/*---------- Step03 ----------*/

section:nth-of-type(8) {
    margin-bottom: 15%;
    display: flex;
}

section:nth-of-type(8) div {
    margin-left: 5%;
}

section:nth-of-type(8)>img {
    width: 50%;
}

section:nth-of-type(8)>div>img {
    width: 60px;
}

/*---------- Step04 ----------*/

section:nth-of-type(9) {
    margin-bottom: 15%;
    display: flex;
    flex-direction: row-reverse;
}

section:nth-of-type(9) div {
    margin-left: 5%;
}

section:nth-of-type(9)>img {
    width: 50%;
}

section:nth-of-type(9)>div>img {
    width: 60px;
}

/*----------------------------------------
  Start Do you like this challange Section
----------------------------------------*/

section:nth-of-type(10) {
    text-align: center;
    margin-bottom: 10%;
}

/*----------------------------------------
  Form / Subscribe
----------------------------------------*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=email] {
    font-size: 1.5rem;
    margin: 20px 20px;
    border: none;
    text-align: center;
    width: 50%;
    padding: 20px 20px;
    border-radius: 4px;
    box-shadow: 0px 4px 10px #e9e5e5;
}

input[type=button] {
    width: 20%;
    background-color: #ff3571;
    color: white;
    padding: 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background: linear-gradient(90deg, rgba(255, 53, 113, 1) 0%, rgba(60, 48, 255, 1) 100%);
}

/*----------------------------------------
  footer
----------------------------------------*/
footer>p::after {
    content: url('../img/love.png');
}

/* Big devices */
@media (max-width: 1200px) {
    body {
        background-color: lightgray;
    }

    section:nth-of-type(1) {
        background: url('../img/ilustracion_people.png') top right/no-repeat, url('../img/ilustracion1.png') top right/no-repeat;
        background-size: 70%;
    }
}

/* Medium devices */
@media (max-width: 900px) {
    body {
        background-color: lightgreen;
    }
}

/* Small devices */
@media(max-width: 375px) {
    body {
        background-color: green;
    }
}